/* .cart-dropdown {
    position: absolute;
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
}
    .cart-items {
      height: 400px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
} */

.cart-dropdown {
    
    width: 240px;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
    box-shadow: 5px 5px 5px grey;
}
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
.root{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .root-card{
    height: 330px;
    width: 1030px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
  }
  
  
  

  
  